[submodule "roles/f5_loadbalancer"]
	path = roles/f5_loadbalancer
	url = https://maxrainer@github.com/maxrainer/ansible-role-f5_loadbalancer.git
[submodule "roles/centos_app_server"]
	path = roles/centos_app_server
	url = https://maxrainer@github.com/maxrainer/ansible-role-centos_app_server.git
[submodule "roles/ios_router"]
	path = roles/ios_router
	url = https://maxrainer@github.com/maxrainer/ansible-role-ios_router.git
