---
namespace: maxrainer
name: network_demo
description: A collection to provide Ansible Networking Demos and Labs
version: "{{ tag }}"
readme: README.md
authors:
  - maxrainer (Markus Rainer)
dependencies: { }
license:
  - MIT
tags:
  - cisco
  - ios
  - f5 
  - network
  - demo
  - lab
repository: https://github.com/maxrainer/ansible-collection-network_demo
documentation: https://github.com/maxrainer/ansible-collection-network_demo
# homepage: ""
issues: https://github.com/maxrainer/ansible-collection-network_demo/issues
build_ignore:
  - scripts
  - tests
  - .DS_Store